.btn{
    background-color: white;
    border-color: #00ff00;
    color: #00ff00;
}
.btn-custommer:focus{
    background-color: #00ff00;
    border-color: #00ff00
}
.btn:hover{
    background-color: #00ff00;
    border-color: #00ff00
}