/* navigasi style */
.btn-nav{
    width: 100px;
    background-color: #00ff00;
    border: none;
}
.search-box{
    width: 400px;
    border-radius: 25px 0 0 25px;
}
.btn-src{
    border-radius: 0 25px 25px 0;
    border-left-color: white;
    outline: none;
}

/* cart style*/
.cart-check{
    width: 700px;
}
.img-cart{
    width: 100px;
    height: 100px;
}
.btn-plus, .btn-min{
    height: 40px;
    width: 40px;
}
.card-buy{
    width: 400px;
}
.btn-buy{
    width: 360px;
}

.btn-custommer, .btn-seller, .btn-auth{
    background-color: white;
    border-color: #00ff00;
    color: #00ff00;
}
.btn-custommer:focus{
    background-color: #00ff00;
    border-color: #00ff00
}
.btn:hover{
    background-color: #00ff00;
    border-color: #00ff00
}
.card-home{
    margin-left: -10px;
    width: 200px;
    height: 300px;
}
.default-img{
    margin-bottom: -10px;
    width: 198px;
    height: 150px;
}

/*category detail style*/
.btn-chat, .btn-add{
    height: 40px;
    width: 150px;
    background-color: #fff;
    color: #00ff00;
    border-color: #00ff00;
}
.btn-buy-now{
    width: 300px;
    height: 40px;
    background-color: #00ff00;
    border-color: #00ff00;
}

/*profile style*/
.form-edit{
    background-color: #ebebeb;
}